/** Stylus Styles */

@import '../../node_modules/vuetify/src/stylus/settings/_colors'

@import '../../node_modules/vuetify/src/stylus/main'

.custom-loader {
  animation: loader 1s infinite;
  display: flex;
}
@-moz-keyframes loader {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes loader {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@-o-keyframes loader {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes loader {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

h1 {
  @extend .display-4;
}
h2 {
  @extend .display-3;
}
h3 {
  @extend .display-2;
}
h4 {
  @extend .display-1;
}
h5 {
  @extend .headline;
}
h6 {
  @extend .title;
}